@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #4d455d;
  color: #f5e9cf;
}

main {
  max-width: 450px;
  margin: 50px auto;
}

.red {
  color: #e96479;
}
.green {
  color: #7db9b6;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
}

h1 span {
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
  margin-top: 7px;
  margin-left: 3px;
}

form {
  margin-top: 20px;
}

form input {
  width: 100%;
  background-color: transparent;
  color: #f5e9cf;
  border: 2px solid #7c7587;
  padding: 2px 5px;
  border-radius: 5px;
}

form input::placeholder,
form input[type="datetime-local"] {
  color: #afafaf;
}

.basic_information {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

form button {
  width: 100%;
  margin-top: 5px;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}

.transactions {
  margin-top: 10px;
}

.transaction {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-top: 1px solid #7c7587;
}

.transaction:first-child {
  border-top: 0;
}

.name,
.price {
  font-size: 1.2rem;
}

.description,
.datetime {
  margin-top: 3px;
  font-size: 0.8rem;
  color: #afafaf;
}

.right {
  text-align: right;
}
